<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <input class="place-input" type="text"  placeholder="Enter a place">

    <div class="info">
        <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="weather">

        <p class="temp"> 22' C</p>

        <p class="city">New York</p>

        <div class="details">
            <div class="humidity">
                <img src="icons/humidity.png" width="40" alt="humidity">
                <p>64% <br> humidity</p>
            </div>
    
            <div class="speed">
                <img src="icons/wind_speed.png" width="60   " alt="wind speed">
                <p>18km/hr <br> Wind speed </p>
            </div>
        </div>
    </div>
</body>

<script src="/index.js"></script>
</html>